:host {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.splitter {
    width: 4px;
    background-color: grey;
    cursor: col-resize;
}

.left, .right, .splitter {
    height: 100%;
    display: inline-block;
}
.left, .right {
    overflow: auto;
}
.right {
    flex: 1;
}
