:host {
    display: block;
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.splitter {
    width: 4px;
    background-color: grey;
    cursor: col-resize;
}

.left, .right, .splitter {
    height: 100%;
    display: inline-block;
    overflow: auto;
}

.right {
    flex: 1;
}
.splitter-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
