.splitter {
    width: 4px;
    background-color: grey;
    cursor: col-resize;
}

.left, .right, .splitter {
    height: 100%;
    display: inline-block;
    overflow: auto;
}

.right {
    flex: 1;
}
.splitter-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}