<div *ngIf="parsedDiffs && parsedDiffs.length" class="mb-4 w-100 h-100 d-flex flex-column">
    <div class="p-2" *ngFor="let parsedDiff of parsedDiffs">
        <div class="file-diff">
            <p class="mb-0">{{ parsedDiff.index }} {{ parsedDiff.oldFileName }} {{ parsedDiff.newFileName }}</p>
            <p *ngIf="parsedDiff.oldHeader || parsedDiff.newHeader" class=" mb-0">
                {{ parsedDiff.oldHeader }} {{ parsedDiff.newHeader }}
            </p>
        </div>
        <div class="card mb-2 hunk" *ngFor="let hunk of parsedDiff.hunks">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span class="small">@@ -{{ hunk.old.start }},{{ hunk.old.lines }} +{{ hunk.new.start}},{{ hunk.new.lines }} @@</span>
                <button *ngIf="repository" class="float-right btn btn-secondary btn-sm text-uppercase"
                    (click)="addHunk(parsedDiff, hunk)">{{ applyText }}</button>
            </div>
            <div class="card-body overflow-y-auto p-0">
                <table class="w-100">
                    <tr class="mb-0" *ngFor="let line of hunk.lines; let i = index"
                        [class.addition]="line.type == 'addition'" [class.deletion]="line.type == 'deletion'">
                        <td class="line-number"><span *ngIf="line.type != 'addition'">{{ line.oldLineNumber }}</span></td>
                        <td class="line-change code">{{ line.raw }}</td>
                        <td class="line-number text-right"><span *ngIf="line.type != 'deletion'">{{ line.newLineNumber }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>