<as-split direction="horizontal">
    <as-split-area [size]="30">
        <!-- Left Sidebar -->
        <div class="w-100 h-100 d-flex flex-column">
            <app-brand></app-brand>
            <div class="flex-grow-1">
                <app-repository-sidebar [repository]="repository"></app-repository-sidebar>
            </div>
        </div>
    </as-split-area>
    <as-split-area [size]="70">
        <div *ngIf="repository.preferences.view == 'logs'" class="w-100 h-100">
            <app-logs [repository]="repository"></app-logs>
        </div>
        <div *ngIf="repository.preferences.view == 'workingCopy'" class="w-100 h-100">
            <as-split direction="horizontal">
                <as-split-area [size]="50">
                    <div class="w-100 h-100">
                        <div class="d-flex flex-column h-100 w-100">
                            <div class="flex-grow-1" style="overflow: auto;">
                                <as-split direction="vertical">
                                    <as-split-area [size]="50">
                                        <app-status-table *ngIf="repository.status" (select)="onStatusSelect($event)"
                                            [repository]="repository" [statuses]="repository.status.working"
                                            [title]="'Working'">
                                        </app-status-table>
                                    </as-split-area>
                                    <as-split-area [size]="50">
                                        <app-status-table *ngIf="repository.status" (select)="onStatusSelect($event)"
                                            [repository]="repository" [statuses]="repository.status.index"
                                            [title]="'Indexed'">
                                        </app-status-table>
                                    </as-split-area>
                                </as-split>
                            </div>
                            <div>
                                <app-commit-box [repository]="repository"></app-commit-box>
                            </div>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="50">
                    <app-diff *ngIf="diff" [lines]="diff"></app-diff>
                </as-split-area>
            </as-split>
        </div>
    </as-split-area>

</as-split>
<div [style.display]="logs.length != 0 ? 'block' : null" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log</h5>
                <button (click)="hideModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 300px">
                <pre style="height: 100%; overflow: auto;">
                    <div *ngFor="let log of logs">{{log.command}}<br/>{{log.stdout}}<br/>{{log.stderr}}</div>
                </pre>
            </div>
            <div class="modal-footer">
                <button (click)="hideModal()" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>