<as-split direction="horizontal">
    <as-split-area [size]="30">
        <!-- Left Sidebar -->
        <div class="w-100 h-100 d-flex flex-column">
            <app-brand></app-brand>
            <div class="flex-grow-1">
                <app-repository-sidebar [repository]="repository"></app-repository-sidebar>
            </div>
        </div>
    </as-split-area>
    <as-split-area [size]="70">
        <div *ngIf="repository.preferences.view == 'logs'" class="w-100 h-100">
            <app-logs [repository]="repository"></app-logs>
        </div>
        <div *ngIf="repository.preferences.view == 'workingCopy'" class="w-100 h-100">
            <as-split direction="horizontal">
                <as-split-area [size]="50">
                    <as-split direction="vertical">
                        <as-split-area [size]="42.5">
                            <app-status-table *ngIf="repository.status" (select)="onStatusSelect($event)"
                                [repository]="repository" [statuses]="repository.status.working" [title]="'Working'">
                            </app-status-table>
                        </as-split-area>
                        <as-split-area [size]="42.5">
                            <app-status-table *ngIf="repository.status" (select)="onStatusSelect($event)"
                                [repository]="repository" [statuses]="repository.status.index" [title]="'Indexed'">
                            </app-status-table>
                        </as-split-area>
                        <as-split-area [size]="15">
                            <app-commit-box [repository]="repository"></app-commit-box>
                        </as-split-area>
                    </as-split>
                </as-split-area>
                <as-split-area [size]="50">
                    <app-diff *ngIf="selectedStatus" [lines]="diff" [repository]="repository"
                        [indexed]="selectedStatus.indexed" [applyText]="selectedStatus.indexed ? 'Remove': 'Add'"></app-diff>
                    <div *ngIf="!selectedStatus"
                        class="p2 bg-secondary w-100 h-100 d-flex align-items-center justify-content-center">
                        <span>Select change</span>
                    </div>
                </as-split-area>
            </as-split>
        </div>
    </as-split-area>

</as-split>