<div class="mb-2 bg-light">
    <div class="d-flex flex-wrap align-items-center bg-dark text-white ">
        <small class="flex-grow-1 text-uppercase ml-3 py-2">Remote branches</small>
    </div>
    <div
        class="pl-3 remoteBranch"
        style="cursor: pointer;"
        *ngFor="let branch of repository.remoteBranches"
        (contextmenu)="contextMenu(branch)"
        (dblclick)="checkoutRemote(branch)"
        [class.active]="branch == repository.trackingBranch">
        {{ branch }}
    </div>
</div>
