:host {
    width: 180px;
    display: block;
    height: 100%;
}
.side-tab {
    width: 100%;
    clear: both;
    display: block;
    padding: 0.25rem 1rem;
}

.side-tab:hover,
.side-tab.active {
    background-color: #22569b;
    color: white;
    cursor: pointer;
}


.side-button {
    width: 50px;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}
.side-button span {
    width: 100%;
    display: inline-block
}
.side-button:hover {
    background-color: lightgray;
}