<div class="h-100 w-100 d-flex flex-column">
    <div class="sidebar-controls">
        <div class="pl-3 pr-3">
            <p class="text-center pt-3">{{ repository.path | basename }}</p>
        </div>
        <a class="d-inline-block w-100 px-3 py-2 bg-light arrow-right"            
           (click)="workingCopy()"
           (contextmenu)="workingCopyContextMenu()"
           [class.cursor-pointer]="repository.preferences.view != 'workingCopy'"
           [class.bg-dark]="repository.preferences.view == 'workingCopy'"
           [class.text-light]="repository.preferences.view == 'workingCopy'">
            <div class="d-flex flex-row">
                <span class="flex-grow-1">
                    Working Copy
                </span>
                <span class="badge badge-secondary"
                      *ngIf=" repository.status.index.length > 0 || repository.status.working.length> 0">
                    {{ repository.status.index.length + repository.status.working.length }} 
                </span>
            </div>
        </a>
        <a class="d-inline-block w-100 px-3 py-2 bg-light arrow-right"
           (click)="logs()"
           (contextmenu)="logsContextMenu()"
           [class.cursor-pointer]="repository.preferences.view != 'logs'"
           [class.bg-dark]="repository.preferences.view == 'logs'"
           [class.text-light]="repository.preferences.view == 'logs'">
            Logs
        </a>

        <div class="sidebar text-center d-flex align-items-center flex-wrap" style="border-top: 1px solid rgba(0,0,0,.1);">
            <a (click)="pull()" 
                class="bg-light flex-fill py-3 text-reset cursor-pointer">
                <i class="fas fa-download"></i>
                <span class="d-inline-block w-100">
                    Pull
                    <span class="badge badge-secondary rounded-circle"
                          *ngIf="repository.activeBranch && repository.activeBranch.behind">
                        {{ repository.activeBranch.behind }} 
                    </span>
                </span>
            </a>
            <a (click)="fetch()" 
                class="bg-light flex-fill py-3 text-reset cursor-pointer">
                <i class="fas fa-cloud-download-alt"></i>
                <span class="d-inline-block w-100">Fetch</span>
            </a>
            <a (click)="push()" 
                class="bg-light flex-fill py-3 text-reset cursor-pointer">
                <i class="fas fa-upload"></i>
                <span class="d-inline-block w-100">
                    Push
                    <span class="badge badge-secondary rounded-circle"
                          *ngIf="repository.activeBranch && repository.activeBranch.ahead">
                        {{ repository.activeBranch.ahead }} 
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="flex-grow-1 overflow-y-auto">
        <app-branches [repository]="repository"></app-branches>
        <app-remotebranches [repository]="repository"></app-remotebranches>
        <app-tags [repository]="repository"></app-tags>
    </div>
</div>