<app-vertical>        
    <app-vertical-header>
        <app-brand></app-brand>
    </app-vertical-header>
    <app-vertical-body>
        <div 
            class="d-flex align-items-center bg-light border-bottom border-default"
            *ngFor="let bookmark of bookmarks">
            <a
                class="flex-grow-1 pl-2 py-3 text-reset bg-light border-right"
                target="_blank" 
                href="#/repository/{{ bookmark.id }}">
                <i class="fas fa-code-branch mr-1 ml-1"></i>
                {{ bookmark.name}}
            </a>
            <a 
                (click)="remove(bookmark.id)"
                style="cursor: pointer;"
                class="bg-default text-danger h-100 px-3 py-3 font-weight-bold bg-light">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </app-vertical-body>
    <app-vertical-footer>
        <div class="d-flex flex-wrap align-items-center bg-dark text-light">
            <div class="flex-grow-1"></div>
            <a (click)="chooser()"
                title="Add repository"
                style="cursor: pointer;" 
                class="bg-success text-white h-100 px-3 py-2 font-weight-bold"
                >+</a>
        </div>
    </app-vertical-footer>
</app-vertical>