<app-vertical>        
    <app-vertical-header>
        <app-brand></app-brand>
        <div class="p-2 bg-primary">
            <div class="input-group">
                <input type="text" 
                       class="form-control"
                       placeholder="Search bookmarks"
                       (input)="filterBookmarks(searchText)"
                       [(ngModel)]="searchText">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </app-vertical-header>
    <app-vertical-body>
        <div 
            class="w-100 d-flex flex-nowrap align-items-center bg-default border-bottom border-default"
            *ngFor="let bookmark of bookmarks">
            <a
                class="flex-grow-1 d-flex flex-wrap align-items-center pl-2 py-3 border-right text-reset cursor-pointer"
                (contextmenu)="contextMenu(bookmark)"
                target="_blank"
                href="./index.html#/repository/{{ bookmark.id }}">
                <!--<i class="fas fa-code-branch mr-1 ml-1"></i>-->
                <span class="flex-grow-1 text-truncate">
                    {{ bookmark.name}}
                </span>
                <span *ngIf="bookmark.branch" 
                    class="badge badge-primary badge-pill mr-2 float-right">
                    {{ bookmark.branch }}
                </span>
                <span *ngIf="bookmark.statuses" 
                    class="badge badge-secondary badge-pill mr-2 float-right font-weight-bold ">
                    {{ bookmark.statuses.length }}
                </span>
            </a>
        </div>
    </app-vertical-body>
    <app-vertical-footer>
        <div class="d-flex flex-wrap align-items-center bg-primary">
            <div class="flex-grow-1"></div>
            <a (click)="chooser()"
                title="Add repository"
                style="cursor: pointer;" 
                class="bg-success text-white h-100 px-3 py-2 font-weight-bold"
                >+</a>
        </div>
    </app-vertical-footer>
</app-vertical>