<app-vertical>        
    <app-vertical-header>
        <app-brand></app-brand>
        <div class="p-2 bg-primary">
            <div class="input-group">
                <input type="text" 
                       class="form-control"
                       placeholder="Search"
                       (input)="filterBookmarks(searchText)"
                       [(ngModel)]="searchText">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </app-vertical-header>
    <app-vertical-body>
        <div 
            class="d-flex align-items-center border-bottom border-default"
            *ngFor="let bookmark of bookmarks">
            <a
                class="flex-grow-1 pl-2 py-3 bg-default border-right cursor-pointer"
                target="_blank" 
                href="#/repository/{{ bookmark.id }}">
                <i class="fas fa-code-branch mr-1 ml-1"></i>
                {{ bookmark.name}}

            </a>
            <span *ngIf="bookmark.statuses" 
                class="h-100 px-3 py-3 font-weight-bold bg-default border-right ">
                <span>{{ bookmark.statuses.length }}</span>
            </span>
            <a (click)="remove(bookmark.id)"
                class="text-danger h-100 px-3 py-3 font-weight-bold bg-default cursor-pointer">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </app-vertical-body>
    <app-vertical-footer>
        <div class="d-flex flex-wrap align-items-center bg-primary">
            <div class="flex-grow-1"></div>
            <a (click)="chooser()"
                title="Add repository"
                style="cursor: pointer;" 
                class="bg-success text-white h-100 px-3 py-2 font-weight-bold"
                >+</a>
        </div>
    </app-vertical-footer>
</app-vertical>