<app-horizontal-splitter>
    <div top>
        <app-vertical-splitter>
            <div left>
                <div *ngIf="repository.status.working.length > 0">
                    <small class="text-muted ml-2">Working</small>
                    <table class="table">
                        <tbody>
                            <tr 
                                *ngFor="let status of repository.status.working"
                                (click)="selectStatus(status)">
                                <td class="indexed">
                                    <input (click)="add(status.path)" type="checkbox" />
                                </td>
                                <td class="status">{{ status.working }}</td>
                                <td class="path">{{ status.path }}</td>
                                <td class="origPath">{{ status.origPath }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="repository.status.index.length > 0">
                    <small class="text-muted ml-2">Indexed</small>
                    <table class="table">
                        <tbody>
                            <tr 
                                *ngFor="let status of repository.status.index"
                                (click)="selectIndexedStatus(status)">
                                <td class="indexed">
                                    <input (click)="reset(status.path)" type="checkbox" checked />
                                </td>
                                <td class="status">{{ status.index }}</td>
                                <td class="path">{{ status.path }}</td>
                                <td class="origPath">{{ status.origPath }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div right>
                <div style="height: 100%; width: 100%;"
                     *ngIf="fileDiff.length > 0">
                    <div *ngFor="let line of fileDiff"
                        style="font-family: monospace; white-space: pre; width: 100%"
                        [class.addition]="line.startsWith('+')"
                        [class.deletion]="line.startsWith('-')" 
                        >{{line}}
                </div>
            </div>
        </div>
    </app-vertical-splitter>
</div>
<div bottom>
    <div class="mt-2 p-2 border-top">
        <div class="input-group">
            <textarea [(ngModel)]="commitMessage" class="form-control"></textarea>
            <div class="input-group-append">
                <button (click)="commit()" class="btn btn-outline-secondary" type="button">Commit</button>
            </div>
        </div>

        <div
            class="mt-2"
            style="display: inline-block; width: 100%;">
            <div class="float-left">
                <input
                    type="checkbox"
                    class="ml-2"
                    id="pushOnCommitCheck" [(ngModel)]="pushOnCommit">
                <label
                    class="form-check-label ml-2" 
                    for="pushOnCommitCheck">Automatically push commit</label>
            </div>
            <div 
                (click)="refresh()"
                class="float-right" 
                style="cursor: pointer;">
                <i class="fas fa-sync-alt"></i>
            </div>
        </div>
    </div>
</div>
