.addition {
    background-color: #b9fec1;
}
.deletion {
    background-color: #fe8484;
}
:host {
    height: 100%;
}

td.indexed {
    width: 35px;
}

td.status {
    width: 35px;
}

td.path {
    
}

tr.active {
    background-color: lightgray;
}