<div class="changes">
    <as-split direction="horizontal">
        <as-split-area [size]="50">
            <app-staging [repository]="repository" (select)="onStatusSelect($event)"></app-staging>
        </as-split-area>
        <as-split-area [size]="50">
            <div style="height: 100%; width: 100%;" *ngIf="fileDiff">
                <div *ngFor="let line of fileDiff.lines" style="font-family: monospace; white-space: pre; width: 100%"
                    [class.addition]="line.startsWith('+')" [class.deletion]="line.startsWith('-')">{{line}}</div>
            </div>
        </as-split-area>
    </as-split>
</div>
<div class="commit p-2 border-top">
    <div class="input-group">
        <textarea [(ngModel)]="commitMessage" class="form-control"></textarea>
        <div class="input-group-append">
            <button *ngIf="commitMessage && commitMessage.trim().length > 0" (click)="commit()"
                class="btn btn-outline-secondary" type="button">Commit</button>
            <button disabled="true" *ngIf="!commitMessage || commitMessage.trim().length < 1"
                class="btn btn-outline-secondary" type="button">Commit</button>
        </div>
    </div>
    <div class="mt-2" style="display: inline-block; width: 100%;">
        <div class="float-left">
            <input type="checkbox" class="ml-2" id="pushOnCommitCheck" [(ngModel)]="pushOnCommit">
            <label class="form-check-label ml-2" for="pushOnCommitCheck">Automatically push commit</label>
        </div>
    </div>
</div>