.addition {
    background-color: #b9fec1;
}
.deletion {
    background-color: #fe8484;
}
:host {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

:host > .changes {
    flex: 1;
    overflow: auto;
    position: relative;
}

:host > .commit {
    overflow: hidden;
}

td.indexed {
    width: 35px;
}

td.status {
    width: 35px;
}

td.path {

}

tr.active {
    background-color: lightgray;
}