<div style="overflow: auto;"
     [ngStyle]="{'height': commitInfo == '' ? '100%' : '50%' }">
    <table class="table">
        <thead>
            <tr>
                <th>Graph</th>
                <th>Commit</th>
                <th>Message</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let log of repository.logs"
                [class.active]="activeLog !== undefined && activeLog.commit == log.commit"
                [class.tracking]="log.branches.includes(repository.trackingBranch) || log.tags.includes(repository.trackingBranch)" 
                [class.checkedOut]="log.branches.includes(repository.activeBranch.name) || log.tags.includes(repository.activeBranch.name)" 
                (click)="selectLog(log)">
                <td class="graph">
                    <span 
                        *ngFor="let char of log.graph"
                        [class.branchRight]="char == '/'"
                        [class.branchLeft]="char == '\\'"
                        [class.continue]="char == '|'">{{ char }}</span>                    
                </td>
                <td>
                    <div>{{ log.commit | slice:0:7 }}</div>
                </td>
                <td>
                    <div>{{ log.message }}</div>
                    <div class="badge badge-secondary mr-1"
                         *ngFor="let branch of log.branches"><i class="fas fa-code-branch"></i> {{ branch }}</div>
                    <div class="badge badge-secondary mr-1"
                         *ngFor="let tag of log.tags"><i class="fas fa-tag"></i> {{ tag }}</div>
                </td>
                <td [title]="log.authorEmail">{{ log.authorName }}</td>
                <td>{{ log.relativeDate }}</td>
            </tr>
        </tbody>
    </table>    
</div>

<div style="height: 50%; overflow: auto; border-top: 4px solid var(--brand-blue);"
     *ngIf="commitInfo != ''">
    <div *ngFor="let line of commitInfo"
        style="font-family: monospace; white-space: pre; width: 100%"
        [class.addition]="line.startsWith('+')"
        [class.deletion]="line.startsWith('-')" 
        >{{line}}</div>
</div>