:host {
    width: 100%;
    height: 100%;
}

.branch {
    cursor: pointer;
    width: 100%;
    clear: both;
    display: block;
}
.branch.active,
.branch:hover
{
    background-color: lightgray;   
}

.branch.active {
    font-weight: bold;
}
