<as-split direction="vertical">
    <as-split-area [size]="40">
        <div *ngIf="repository.status.working.length > 0">
            <small class="text-muted ml-2">Working</small>
            <table class="table">
                <tbody>
                    <tr class="cursor-pointer" *ngFor="let status of repository.status.working"
                        [class.active]="status == selected" (contextmenu)="contextMenu(status)"
                        (click)="selectStatus(status)">
                        <td class="indexed">
                            <input (click)="add(status.path)" type="checkbox" />
                        </td>
                        <td class="status">{{ status.working }}</td>
                        <td class="path">{{ status.path }}</td>
                        <td class="origPath">{{ status.origPath }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </as-split-area>
    <as-split-area [size]="60">
        <div *ngIf="repository.status.index.length > 0">
            <small class="text-muted ml-2">Indexed</small>
            <table class="table">
                <tbody>
                    <tr *ngFor="let status of repository.status.index" [class.active]="status == selected"
                        (contextmenu)="contextMenu(status)" (click)="selectStatus(status)">
                        <td class="indexed">
                            <input (click)="reset(status.path)" type="checkbox" checked />
                        </td>
                        <td class="status">{{ status.index }}</td>
                        <td class="path">{{ status.path }}</td>
                        <td class="origPath">{{ status.origPath }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </as-split-area>
</as-split>