<div class="commit p-2 border-top d-flex flex-column">
    <div class="input-group flex-grow-1 d-flex flex-row">
        <textarea [(ngModel)]="commitMessage" class="form-control flex-grow-1"></textarea>
        <div class="input-group-append">
            <button *ngIf="commitMessage && commitMessage.trim().length > 0" (click)="commit()"
                class="btn btn-outline-secondary" type="button">Commit</button>
            <button disabled="true" *ngIf="!commitMessage || commitMessage.trim().length < 1"
                class="btn btn-outline-secondary" type="button">Commit</button>
        </div>
    </div>
    <div class="mt-2 d-inline-block w-100">
        <input type="checkbox" class="ml-2" id="pushOnCommitCheck" [(ngModel)]="pushOnCommit">
        <label class="form-check-label ml-2" for="pushOnCommitCheck">Automatically push commit</label>
    </div>
</div>