:host {
    display: block;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.splitter-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.splitter {
    height: 4px;
    background-color: grey;
    cursor: row-resize;
}

.top, .bottom, .splitter {
    width: 100%;
    /*display: inline-block;*/
    overflow: auto;
    position: relative;
}
